* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  background-image: linear-gradient(
    to bottom,
    rgb(236, 224, 218),
    rgb(221, 221, 221)
  );
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  scroll-behavior: smooth;
  font-family: "Tilt Neon";
}

#eq,
#order,
#ans,
#partAns {
  margin: 1%;
  width: 100%;
  margin-left: 20%;
}

#order {
  margin-top: 10%;
  margin-bottom: 10%;
}

#partAns {
  margin-top: 10%;
  margin-bottom: 10%;
}

.lable {
  margin: 0%;
  margin-top: 5%;
}

.container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  overflow-x: hidden;
}

.glass-panel {
  background: rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 100%;
}

#myForm {
  width: 100%;
  max-width: 400px;
  padding-right: 10%;
  padding-left: 1%;
}

#formData {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 5%;
  margin-top: 3%;
}

.inputField {
  width: 100%;
  max-width: 800px;
  height: 3rem;
  padding-left: 5%;
  border-radius: 20px;
  font-weight: bold;
  font-size: larger;
  background-image: linear-gradient(
    to bottom,
    rgb(255, 255, 255),
    rgb(255, 255, 255)
  );
  border: 1px solid black;
}

.inputField1,
.inputField2,
.inputField3 {
  width: 40px;
  height: 30px;
  padding-left: 1%;
  margin-top: 1%;
  margin-bottom: 1%;
  border-radius: 10px;
  background-image: linear-gradient(
    to bottom,
    rgb(255, 255, 255),
    rgb(255, 255, 255)
  );
  border: 1px solid black;
}

.btn,
.btn2 {
  margin: 10px;
  padding: 10px 25px;
  font-size: 16px;
  transition: transform 0.2s, box-shadow 0.2s;
  color: #fff;
  border-radius: 5px;
  border: none;
  background-image: linear-gradient(
    to bottom right,
    rgb(9, 130, 59),
    rgb(64, 199, 30)
  );
}

.label1 {
  margin-left: 34%;
}

.btn2 {
  margin-left: 32%;
}

.btn:hover,
.btn2:hover {
  transform: scale(1.05);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

@media (max-width: 768px) {
  .inputField {
    width: 160%;
    max-width: 400px;
    font-weight: normal;
    font-size: medium;
  }

  #eq,
  #order,
  #ans,
  #partAns {
    margin-left: 10%;
  }

  #order {
    width: 90%;
  }

  #myForm {
    padding-right: 0%;
    padding-left: 3%;
  }

  #error {
    font-size: smaller;
    width: 50%;
  }

  .label1 {
    margin-left: 24%;
  }

  .btn2 {
    margin-left: 22%;
  }

  .lable {
    margin: 0%;
    margin-top: 5%;
    font-size: smaller;
  }
}
