* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  background-image: linear-gradient(
    to bottom,
    rgba(228, 212, 212, 0.653),
    rgba(199, 199, 199, 0.584)
  );
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; /* Ensures the body takes at least the full viewport height */
  scroll-behavior: smooth;
  font-family: 'Tilt Neon';
}

#eq,
#order,
#ans,
#partAns {
  margin: 1%;
  width: 100%; /* Adjust the width as needed for responsiveness */
  margin-left: 20%;
}

#partAns {
  margin-bottom: 10%;
}

.lable {
  margin: 0%;
  margin-top: 5%;
}

.container {
  width: 100%;
  max-width: 800px; /* Set a maximum width to prevent content from becoming too wide on large screens */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  overflow-x: hidden;
}

#myForm {
  width: 100%;
  max-width: 400px; /* Adjust the maximum width as needed */
  padding-right: 10%;
}

#formData {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 1%;
  margin-top: 3%;
}

.inputField {
  width: 300%;
  max-width: 800px; /* Adjust the maximum width as needed */
  height: 3rem;
  padding-left: 5%;
  border-radius: 20px;
  font-weight: bold;
  font-size: larger;
  background-image: linear-gradient(
    to bottom,
    rgb(245, 240, 240),
    rgb(238, 236, 231)
  );
}

.inputField1,
.inputField2,
.inputField3 {
  width: 50px;
  height: 30px;
  padding-left: 1%;
  border-radius: 5px;
  background-image: linear-gradient(
    to bottom,
    rgb(245, 240, 240),
    rgb(238, 236, 231)
  );
}

.btn,
.btn2 {
  margin: 10px;
  padding: 10px 25px;
  font-size: 16px;
  transition: transform 0.2s, box-shadow 0.2s;
  color: #fff;
  border-radius: 5px;
  background-image: linear-gradient(
    to bottom right,
    rgb(9, 130, 59),
    rgb(64, 199, 30)
  );
}

.label1 {
  margin-left: 31%;
}

.btn2 {
  margin-left: 30%;
}

.btn:hover,
.btn2:hover {
  transform: scale(1.05);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

/* Media query for smaller screens */
@media (max-width: 768px) {
  .inputField {
    width: 160%;
    max-width: 400px;
    font-weight: normal;
    font-size: medium;
  }

  #eq,
  #order,
  #ans,
  #partAns {
    margin-left: 10%;
  }

  #order {
    width: 90%;
  }

  #myForm {
    padding-right: 0%;
  }

  #error {
    font-size: smaller;
    width: 50%;
  }

  .label1 {
    margin-left: 24%;
  }

  .btn2 {
    margin-left: 22%;
  }

  .lable {
    margin: 0%;
    margin-top: 5%;
    font-size: smaller;
  }
}
